<nav class="navbar navbar-default navbar-fixed-top" id="navbarstyle">
    <div class="container">
        <div class="navbar-header">
        <a ng-href="#/index" class="navbar-brand"><img id="imgbrand" alt="GeoFinder" src="../images/GeoLogo2.png"></a>
        <button class="navbar-toggle" data-toggle="collapsse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/login" class="glyphicon glyphicon-user" style="color:white"></a></li>
            </ul>
        </div>
    </div>
</nav>